---
import HeroSection from '@components/sections/HeroSection.astro';
import Layout from '@layouts/Layout.astro';
import { hero, intro, experience } from "@data/text";
import ExperienceSection from '@components/sections/ExperienceSection.astro';
import AboutSection from '@components/sections/AboutSection.astro';
import TestimonialsSection from '@components/sections/TestimonialsSection.astro';
import SkillsSection from '@components/sections/SkillsSection.astro';
---

<Layout title="Freddie Smith.">
	<main class="relative text-neutral-50 px-4 md:px-48 w-full z-10 flex flex-col justify-center items-center bg-[rgba(0,0,0,0.5)]">
		<HeroSection title={hero.title} subtitle={hero.subtitle} />
		<AboutSection title={intro.title} body={intro.body}/>
		<ExperienceSection title={experience.title} experienceList={experience.experiences} />
		<SkillsSection />
		<TestimonialsSection title={hero.title} subtitle={hero.subtitle} />
	</main>
</Layout>
